apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: k8s-metrics-reader
rules:
  - apiGroups: [""]
    resources:
      - pods
      - nodes
      - namespaces
      - services
    verbs:
      - get
      - list

  - apiGroups: ["metrics.k8s.io"]
    resources:
      - nodes
      - pods
    verbs: ["get", "list"]
